<html>
    <head>
        <link rel="stylesheet" href="lab06.css" />
        <link rel="stylesheet" href="./css/bootstrap.min.css" />

        <a href="/"><img src="logo_white.png" class="center"></a>
        <br><br>
        <a type="button" class="btn btn-default" href="/">Home</a>
        <a type="button" class="btn btn-default" href="/newparcel">Add a New Parcel</a>
        <a type="button" class="btn btn-default" href="/listparcel">List All Parcels</a>
        <a type="button" class="btn btn-default" href="/deleteparcel">Delete a Parcel</a>
        <a type="button" class="btn btn-default" href="/updateparcel">Update a Parcel</a>
        <a type="button" class="btn btn-default" href="/clearparcel">Clear ALL Parcels</a>
    </head>
    <body>
        <div class="jumbotron text-center">
        <h2>Welcome to the Lab 06 - A POMS App with Mongoose</h2>
        <h3>Home</h3>
        </div>
    </body>
</html>