<html>
    <head>
        <link rel="stylesheet" href="lab06.css" />
        <link rel="stylesheet" href="./css/bootstrap.min.css" />

        <a href="/"><img src="logo_white.png" class="center"></a>
        <br><br>
        <a type="button" class="btn btn-default" href="/">Home</a>
        <a type="button" class="btn btn-default" href="/newparcel">Add a New Parcel</a>
        <a type="button" class="btn btn-default" href="/listparcel">List All Parcels</a>
        <a type="button" class="btn btn-default" href="/deleteparcel">Delete a Parcel</a>
        <a type="button" class="btn btn-default" href="/updateparcel">Update a Parcel</a>
        <a type="button" class="btn btn-default" href="/clearparcel">Clear ALL Parcels</a>
    </head>
    <body>
        <div class="jumbotron text-center">
        <h2>Welcome to the Lab 06 - A POMS App with Mongoose</h2>
        <h3>Parcel List</h3>
        </div>
        <br>
        <h3>List Parcel Search</h3>
        <table class="table table-hover table-dark">
            <th>
            <h5>Get all Parcels</h5>
            <form method="post" action="getallparcels">
                <button submit>Submit</button>
            </form>
            </th>
            <th>
            <h5>Get Parcels by Sender</h5>
            <form method="post" action="getparcelsender">
                Sender: <input type="text" name="Sender" required/>
                <button submit>Submit</button>
            </form>
            </th>
            <th>
            <h5>Get Parcels by Weight Range</h5>
            <form method="post" action="getparcelweightrange">
                Weight from: <input type="number" name="weightfrom" step="any" min="0" required/>
                Weight to: <input type="number" name="weightto" step="any" min="0" required/>
                <button submit>Submit</button>
            </form>
            </th>
        </table>
    </body>
</html>